.about{
    background-color: lightblue;
    display: flex;
     
}

.about-left{
  flex: 1;
  background-image: url('C:\Users\AndrewP\Dropbox\Code\Portfolio Website\portfolioapp\src\img\0606201317b.png');
  background-size: contain;
  background-repeat: no-repeat;  
  font-weight: bold;
  font-size: x-large;
  background-position: center;
}

.about-right{
  flex: 1;
  font-size: 30px;
  text-align: center;
}


.i{
  font-size: 100px;
}



