.app {
  height: 100vh;
}

.sections {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: white;
  position: fixed;
  top: 70px;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

* {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}
[data-theme='dark'] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}
